html {
	height: 100%;
}

body {
	overflow-x: hidden;
	font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
	height: 100%;
}

.text-muted {
	color: #777;
}

.text-primary {
	color: #fed136;
}

p {
	font-size: 14px;
	line-height: 1.75;
}

span.leading {
	font-size: 14px;
	font-weight: 400;
}

p.large {
	font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
	outline: 0;
	text-decoration: none;
}

a {
	color: #fed136;
}

a:hover,
a:focus,
a:active,
a.active {
	color: #fec503;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
}

.img-centered {
	margin: 0 auto;
}

.bg-light-gray {
	background-color: #f7f7f7;
}

.bg-darkest-gray {
	background-color: #222;
}

.btn-primary {
	border-color: #fed136;
	text-transform: uppercase;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
	color: #fff;
	background-color: #fed136;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	border-color: #f6bf01;
	color: #fff;
	background-color: #fec503;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
	border-color: #fed136;
	background-color: #fed136;
}

.btn-primary .badge {
	color: #fed136;
	background-color: #fff;
}

.btn-xl {
	padding: 20px 40px;
	border-color: #fed136;
	border-radius: 3px;
	text-transform: uppercase;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	background-color: #fed136;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
	border-color: #f6bf01;
	color: #fff;
	background-color: #fec503;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
	background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
	border-color: #fed136;
	background-color: #fed136;
}

.btn-xl .badge {
	color: #fed136;
	background-color: #fff;
}

.btn.social:hover {
	background-color: #fec503;
	color: #fff;
}

.btn.social:hover .fa {
	color: #fff;
}

.service-heading {
	margin: 15px 0;
	text-transform: none;
}

ul.social-buttons {
	margin-bottom: 0;
}

ul.social-buttons li a {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	font-size: 20px;
	line-height: 40px;
	outline: 0;
	color: #fff;
	background-color: #ccc;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
	background-color: #fed136;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
	outline: 0;
}

::-moz-selection {
	text-shadow: none;
	background: #fed136;
}

::selection {
	text-shadow: none;
	background: #fed136;
}

img::selection {
	background: 0 0;
}

img::-moz-selection {
	background: 0 0;
}

body {
	webkit-tap-highlight-color: #fed136;
}

a.facebook {
	color: #fff;
	background-color: #3b5998 !important;
	opacity: 0.9;
}

a.facebook:hover {
	background-color: #2b4988 !important;
	opacity: 1;
}

a.google {
	color: #fff;
	background-color: #d34836 !important;
	opacity: 0.9;
}

a.google:hover {
	background-color: #c33826 !important;
	opacity: 1;
}

a.linkedin {
	color: #fff;
	background-color: #007bb6 !important;
	opacity: 0.9;
}

a.linkedin:hover {
	background-color: #006ba6 !important;
	opacity: 1;
}

a.twitter {
	color: #fff;
	background-color: #00aced !important;
	opacity: 0.9;
}

a.twitter:hover {
	background-color: #009cdd !important;
	opacity: 1;
}

a.xing {
	color: #fff;
	background-color: #026466 !important;
	opacity: 0.9;
}

a.xing:hover {
	background-color: #025456 !important;
	opacity: 1;
}

a.crunchbase {
	color: #fff;
	background-color: #2292a7 !important;
	opacity: 0.9;
}

a.crunchbase:hover {
	background-color: #128297 !important;
	opacity: 1;
}

a.angellist {
	color: #fff;
	background-color: #3f81c7 !important;
	opacity: 0.9;
}

a.angellist:hover {
	background-color: #2f71b7 !important;
	opacity: 1;
}

.alert {
	position: fixed;
	border-radius: 0;
	width: 100%;
	text-align: center;
}