extends layout

block nav
	ul.nav.navbar-nav.navbar-right
		li.hidden
			a(href='#page-top')
		li
			a.page-scroll(title='Hvad vi kan', href='#introduction') Hvad vi kan
		li
			a.page-scroll(title='Casestudier', href='#cases') Casestudier
		li
			a.page-scroll(title='Tidslinje', href='#timeline') Tidslinje
		li
			a.page-scroll(title='Teamet', href='#team') Teamet
		li
			a.page-scroll(title='Kontakt', href='#contact') Kontakt

block body
	section#introduction
		.container
			.row
				.col-lg-12.text-center
					h2.section-heading Hvad vi kan
					h3.section-subheading.text-muted vores mål er at forbedre borgernes livskvalitet
			.row.text-center
				.col-md-4
					span.fa-stack.fa-4x
						i.fa.fa-circle.fa-stack-2x.text-primary
						i.fa.fa-key.fa-stack-1x.fa-inverse
					h4.service-heading Skræddersyede IT løsninger
					p.text-muted.text-justify Vores filosofi er at identificere vores kunders behov og problemer først, for derefter at være i stand til at udvikle et system, der opfylder kundens behov og ønsker bedst muligt. Dette betyder, at vores løsninger er simple og effektive for alle der skal bruge dem.
					p.text-muted.text-justify Vi kombinerer erfaringer fra softwarearkitektur, design, udvikling og vedligeholdelse, hvilket gør os i stand til at levere produkter der er opbygget i moduler, der arbejder effektivt sammen.
				.col-md-4
					span.fa-stack.fa-4x
						i.fa.fa-circle.fa-stack-2x.text-primary
						i.fa.fa-users.fa-stack-1x.fa-inverse
					h4.service-heading Brugerinddragelse
					p.text-muted.text-justify Før vi udvikler en løsning, foretager vi grundig research af vores kunder og deres situation for at få førstehåndserfaring med deres arbejdsgange og rutiner, hvorfor vi kan skabe et sammenhængende billede af de ændringer og funktioner de har behov for.
					p.text-muted.text-justify Vi involverer brugerne direkte i udviklingen af vores løsninger, for at tilpasse dem til deres specifikke behov. Vi gennemgår vores arbejde i flere iterationer sammen med forskellige interessenter, for at fastslå vores vision gennem brugen af vores løsninger.
				.col-md-4
					span.fa-stack.fa-4x
						i.fa.fa-circle.fa-stack-2x.text-primary
						i.fa.fa-dashboard.fa-stack-1x.fa-inverse
					h4.service-heading Fleksible priser
					p.text-muted.text-justify Vi giver mulighed for både abonnements- og modulbaserede priser på vores løsninger. Dette betyder, at vores kunder kan tilpasse deres betalinger så de passer bedst muligt til det produkt de ønsker, såvel som mulighed for at tilføje eller fjerne funktionalitet efter behov.
					p.text-muted.text-justify Denne slags betalingsløsninger er i dag lette at etablere, hvilket gør vores priser særdeles konkurrencedygtige og attraktive for vores kunder.
	section#cases.bg-light-gray
		.container
			.row
				.col-lg-12.text-center
					h2.section-heading Casestudier
					h3.section-subheading.text-muted innovativt, digitalt økosystem
			.row
				.col-md-12.col-sm-12.portfolio-item
					a.portfolio-link(title='fortæl mig mere', href='#portfolioModal1', data-toggle='modal')
						.portfolio-hover
							.portfolio-hover-content
								i.fa.fa-plus.fa-3x
						img.img-responsive(src='img/portfolio/bredebo/carelendar.png', alt='Carelendar')
					.portfolio-caption
						h4 Plejecenter Bredebo
						p.text-muted let anvendeligt og simpelt administrationsmodul for begivenheder på et plejecenter i Lyngby-Taarbæk Kommune
	section#timeline
		.container
			.row
				.col-lg-12.text-center
					h2.section-heading Tidslinje
					h3.section-subheading.text-muted følg med i vores arbejde
			.row
				.col-lg-12
					ul.timeline
						li
							.timeline-image
								img.img-circle.img-responsive(src='img/about/dsi.png', alt='sommerskole i digital innovation')
							.timeline-panel
								.timeline-heading
									h4.yellow August 11 2014
									h4.subheading sommerskole i digital innovation
								.timeline-body
									p.text-muted Hele holdet deltog i sommerskolekurset “Digital Services Innovation”, der blev arrangeret af Datalogisk Institut ved Københavns Universitet. Her blev vi tildelt Plejecenter Bredebo som casepartner.
									p
										a(target='_blank', href='http://www.diku.dk/english/news/news2014/digital-summerschool/') Sommerskole i digital innovation
						li.timeline-inverted
							.timeline-image
								img.img-circle.img-responsive(src='img/about/interview.png', alt='interviews på Bredebo')
							.timeline-panel
								.timeline-heading
									h4.yellow August 16 2014
									h4.subheading interviews på Bredebo
								.timeline-body
									p.text-muted Vi indledte vores research ved at analysere den tildelte case og besøge Bredebo. Derigennem fik vi førstehåndserfaring med de ansattes daglige rutiner og vi fik foretaget interviews med plejere og ansatte ved både interne og eksterne aktivitetscentre.
						li
							.timeline-image
								img.img-circle.img-responsive(src='img/about/iteration.png', alt='iterative prototyper på Bredebo')
							.timeline-panel
								.timeline-heading
									h4.yellow August 21 2014
									h4.subheading iterative prototyper på Bredebo
								.timeline-body
									p.text-muted Vi inddrog de ansatte på Bredebo i arbejdet med vores prototyper, hvorigennem vi dagligt fik lavet forbedringer til den. Plejerne og de ansatte ved aktivitetscentrene gav os værdifuld indsigt ved at lade os se eventuelle fejl og mangler i prototyperne tidligt og derved gøre det muligt at rette disse hurtigt og i højere grad tilpasse vores prototype til deres daglige arbejdsgang.
									p.text-muted
										a(target='_blank', href='https://drive.google.com/file/d/0ByBWo0bbetqpNnI3R3VIWGw5Y0k/edit?usp=sharing') Prototype 1
										| 
										a(target='_blank', href='https://drive.google.com/file/d/0ByBWo0bbetqpcUthLUJIakpBb3c/edit?usp=sharing') Prototype 2
										| 
										a(target='_blank', href='https://drive.google.com/file/d/0ByBWo0bbetqpZm5ueHV1Nm9ya3c/edit?usp=sharing') Prototype 3
						li.timeline-inverted
							.timeline-image
								img.img-circle.img-responsive(src='img/about/stallion.png', alt='prototype "glemt" på plejecenter')
							.timeline-panel
								.timeline-heading
									h4.yellow August 25 2014
									h4.subheading prototype "glemt" på plejecenter
								.timeline-body
									p.text-muted Vi installerede vores prototype i afdelingens mødelokale, og gjorde den synlig via et TV. Indledende fik vi en enkelt plejer til at bruge vores prototype på en almindelig arbejdsdag. Senere lod vi hele afdelingen prøve en forbedret version af prototypen med ægte, aktuel data fra centeret. Denne test viste sig at være en stor succes.
						li
							.timeline-image
								img.img-circle.img-responsive(src='img/about/pitch.png', alt='projektpitch for casepartnere')
							.timeline-panel
								.timeline-heading
									h4.yellow August 27 2014
									h4.subheading projektpitch for casepartnere
								.timeline-body
									p.text-muted Vi præsenterede vores resultater til vores casepartnere, som var meget tilfredse med vores endelige prototype. De besluttede herefter at pitche idéen videre til kommunen.
									p
										a(target='_blank', href='https://drive.google.com/file/d/0ByBWo0bbetqpX1Z5VG82LVNoSTQ/edit?usp=sharing') Præsentationsmateriale
						li.timeline-inverted
							.timeline-image
								img.img-circle.img-responsive(src='img/about/pilot.png', alt='vejen til pilotprojektet')
							.timeline-panel
								.timeline-heading
									h4.yellow September 15 2014
									h4.subheading vejen til pilotprojektet
								.timeline-body
									p.text-muted Vores casepartnere havde gode nyheder - vi fik startskuddet for at forberede vilkår for et pilotprojekt.
						li
							.timeline-image
								img.img-circle.img-responsive(src='img/about/hub.png', alt='UCPH Innovation Hub')
							.timeline-panel
								.timeline-heading
									h4.yellow September 27 2014
									h4.subheading UCPH Innovation Hub
								.timeline-body
									p.text-muted Vi fik vores ansøgning og interview godkendt af UCPH Innovation Hub, hvilket har givet os adgang til professionel rådgivning, coaching, workshops, et kontor og et netværk for iværksættere.
									p
										a(target='_blank', href='http://ie.ku.dk/studerende/ucphinnovationhub/') UCPH Innovation Hub
						li.timeline-inverted
							.timeline-image
								h4
									| næste
									br
									| skridt
									br
									| snart
	section#team.bg-light-gray
		.container
			.row
				.col-lg-12.text-center
					h2.section-heading Teamet
					h3.section-subheading.text-muted bringer vi er et hold bestående af højtkvalificerede fagfolk med forskellige faglige baggrunde
			.row
				.col-sm-3
					.team-member
						img.img-responsive.img-circle(src='img/team/andreas-bw.jpg', alt='Andreas Johansen')
						h4 Andreas Johansen
						p.text-muted IT + Sundhed
						ul.list-inline.social-buttons
							li
								a.linkedin(target='_blank', title='Andreas Johansen på Linkedin', href='http://dk.linkedin.com/pub/andreas-johansen/84/119/938')
									i.fa.fa-linkedin
				.col-sm-3
					.team-member
						img.img-responsive.img-circle(src='img/team/frederik-bw.jpg', alt='Frederik Lauridsen')
						h4 Frederik Lauridsen
						p.text-muted Kommunikation + IT
						ul.list-inline.social-buttons
							li
								a.linkedin(target='_blank', title='Frederik Lauridsen på Linkedin', href='http://dk.linkedin.com/in/frederikvblauridsen')
									i.fa.fa-linkedin
				.col-sm-3
					.team-member
						img.img-responsive.img-circle(src='img/team/vlad-bw.jpg', alt='Vlad Manea')
						h4 Vlad Manea
						p.text-muted Datalogi + Teknologi
						ul.list-inline.social-buttons
							li
								a.linkedin(target='_blank', title='Vlad Manea på Linkedin', href='http://dk.linkedin.com/in/vladmanea/')
									i.fa.fa-linkedin
				.col-sm-3
					.team-member
						img.img-responsive.img-circle(src='img/team/konstantin-bw.jpg', alt='Konstantin Slavin-Borovskij')
						h4 Konstantin Slavin-Borovskij
						p.text-muted Datalogi + Operations
						ul.list-inline.social-buttons
							li
								a.linkedin(target='_blank', title='Konstantin Slavin-Borovskij på Linkedin', href='http://dk.linkedin.com/pub/konstantin-slavin-borovskij/42/30/a76')
									i.fa.fa-linkedin
	aside.clients.hidden
		.container
			.row
				.col-lg-10.col-lg-offset-1.text-center
					p.text-center
						| Vi vil gerne takke Troels Sune Mønsted, Klaus Marius Hansen og Dorthe Frustrand Lauritzen fra Københavns Universitet for omfattende hjælp i den indledende forskning fase. Vi vil gerne takke Lene Wedele Henriksen, Linda Johnsen fra Lyngby-Taarbæk Kommune for at tro og pitching i vores projekt. Vi takker Bredebo center pårørende og aktivitetscentre for at hjælpe os forstyrre deres aktiviteter :)
	section#contact
		.container
			.row
				.col-lg-12.text-center
					h2.section-heading Kontakt
			.row
				.col-lg-12
					form#contactForm(method='post', action='/contact')
						.row
							.col-md-6
								.form-group
									input#name.form-control(name='name', type='text', placeholder='Dit navn *', required='required', data-validation-required-message='Skal du indtaste dit navn.')
									p.help-block.text-danger
								.form-group
									input#email.form-control(name='email', type='email', placeholder='Din e-mail *', required='required', data-validation-required-message='Skal du indtaste din e-mail.')
									p.help-block.text-danger
								.form-group
									input#phone.form-control(name='phone', type='tel', placeholder='Dit telefonnummer *', required='required', data-validation-required-message='Skal du indtaste dit telefonnummer.')
									p.help-block.text-danger
							.col-md-6
								.form-group
									textarea#message.form-control(name='message', placeholder='Besked *', required='required', data-validation-required-message='Skal du indtaste din besked.')
									p.help-block.text-danger
							.clearfix
							.col-lg-12.text-center
								#success
								button.btn.btn-xl(type='submit')
									i.fa.fa-send
									| 
									| send

block modals
	#portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
		.modal-content
			.close-modal(data-dismiss='modal')
				.lr
					.rl
			.container
				.row
					.col-lg-8.col-lg-offset-2
						.modal-body
							h2 Plejecenter Bredebo
							p.item-intro.text-muted let anvendeligt og simpelt administrationsmodul for begivenheder på et plejecenter i Lyngby-Taarbæk Kommune
							img.img-responsive(src='img/portfolio/bredebo/carelendar-full.png', alt='Carelendar')
							p.text-justify Plejecentre har problemer med at organisere deres hektiske aktiviteter og aftaler for deres beboer. Der har lydt klager fra en række parter, der er utilfredse med at beboerne ikke er klar til deres aftaler som planlagt. Derudover, så bliver beboer, som misser deres aftale ofte forvirrede, hvilket nedsætter deres livskvalitet.
							p.text-justify På Plejecenter Bredebo har de ansatte en fast proces for, hvordan man skal tilgå forskellige udfordringer, men de har for mange værktøjer at vælge mellem. De har fælles whiteboards, kalendere, individuelle notesbøger samt et digitalt helbredssystem. Vi kunne bekræfte at alle disse systemer opfylder de krav de ansattes arbejdsrutiner stiller, men også at de komplicerer videreformidling og behandling af information de ansatte i mellem. De ansatte erstatter ofte værktøjerne med “mund-til-mund”-metoden, hvilket får stor indflydelse når der skal planlægges i realtid.
							p.text-justify Fra begyndelsen af var vores primære mål, at hjælpe de ansatte i deres daglige arbejdsrutiner uden at ændre eller besværliggøre deres arbejde. Med dette in mente har vi udviklet et system, der tilbyder overskueligt og informativt overblik, der tager hånd om kalenderen ved at informere de ansatte omkring specifikke aftaler. Dette giver os mulighed for at løse deres problemer ved at samle elementer fra en række forskellige systemer i én samlet og sammenhængende løsning.
							p.text-justify Vi har itereret vores prototype fra en low-fidelity papirprototype til et stykke high-fidelity software.Vi har udbygget hver version på baggrund af den forrige ved at bruge vores analyser af resultaterne fra en række interviews og åbne diskussioner, flere effektive og konstruktive møder samt adskillelige brugertests. Vi har foretaget undersøgelser på tværs af interessenter og har opnået en fælles baggrund for et fremtidigt software-økosystem. Vi har installeret prototyper med en gradvis øgning af funktionalitet på plejecentret, og har derefter fulgt plejerne mens de brugte det i deres arbejdsgang, på en daglig basis, med ægte data og i flere dage. På denne måde har vi kunnet skræddersy vores system til ikke blot det, som medarbejderne efterspørger. men til præcis det de har brug for.
							p.text-justify Den endelige prototype bestod af en innovativ digital tjeneste, som hjælper centeret med at holde styr på de begivenheder, der finder sted - når de finder sted. Dets form og funktion, som er skabt med direkte involvering af slutbrugerne, har til formål at nedsætte den tid, der bruges på at organisere og administrere begivenheder, såvel som at tilbyde en solid kommunikationsplatform. Vores mål er at få mere tid som personalet kan bruge på egentlige aktiviteter og gøre aktiviteterne gennemskuelige, så flere beboere deltager, og derved forbedre deres kognitive evner, hvilket i sidste ende øger deres livskvalitet.
							.row
								.col-lg-3.text-center
									img.img-responsive(src='img/portfolio/bredebo/bredebo01.jpg', alt='Plejecenter Bredebo')
								.col-lg-3.text-center
									img.img-responsive(src='img/portfolio/bredebo/bredebo02.jpg', alt='Plejecenter Bredebo')
								.col-lg-3.text-center
									img.img-responsive(src='img/portfolio/bredebo/bredebo03.jpg', alt='Plejecenter Bredebo')
								.col-lg-3.text-center
									img.img-responsive(src='img/portfolio/bredebo/bredebo04.jpg', alt='Plejecenter Bredebo')
							.row
								.col-lg-3.text-center
									img.img-responsive(src='img/portfolio/bredebo/bredebo05.jpg', alt='Plejecenter Bredebo')
								.col-lg-3.text-center
									img.img-responsive(src='img/portfolio/bredebo/bredebo06.jpg', alt='Plejecenter Bredebo')
								.col-lg-3.text-center
									img.img-responsive(src='img/portfolio/bredebo/bredebo07.jpg', alt='Plejecenter Bredebo')
								.col-lg-3.text-center
									img.img-responsive(src='img/portfolio/bredebo/bredebo08.jpg', alt='Plejecenter Bredebo')
							button.btn.btn-primary(type='button', data-dismiss='modal')
								i.fa.fa-times
								| 
								| luk