doctype html
html(lang='en')
head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	meta(name='description', content='')
	meta(name='author', content='')
	title INNOSUND | innovative sundhedsløsninger
	
	meta(name='author', content='Vlad Manea')
	meta(name='description', content='Vores filosofi er at identificere vores kunders behov og problemer først, for derefter at være i stand til at udvikle et system, der opfylder kundens behov og ønsker bedst muligt. Dette betyder, at vores løsninger er simple og effektive for alle der skal bruge dem. Vi kombinerer erfaringer fra softwarearkitektur, design, udvikling og vedligeholdelse, hvilket gør os i stand til at levere produkter der er opbygget i moduler, der arbejder effektivt sammen. Før vi udvikler en løsning, foretager vi grundig research af vores kunder og deres situation for at få førstehåndserfaring med deres arbejdsgange og rutiner, hvorfor vi kan skabe et sammenhængende billede af de ændringer og funktioner de har behov for. Vi involverer brugerne direkte i udviklingen af vores løsninger, for at tilpasse dem til deres specifikke behov. Vi gennemgår vores arbejde i flere iterationer sammen med forskellige interessenter, for at fastslå vores vision gennem brugen af vores løsninger. Vi giver mulighed for både abonnements- og modulbaserede priser på vores løsninger. Dette betyder, at vores kunder kan tilpasse deres betalinger så de passer bedst muligt til det produkt de ønsker, såvel som mulighed for at tilføje eller fjerne funktionalitet efter behov. Denne slags betalingsløsninger er i dag lette at etablere, hvilket gør vores priser særdeles konkurrencedygtige og attraktive for vores kunder.')
	meta(name='keywords', content='innovative sundhedsløsninger, skræddersyede IT løsninger, brugerinddragelse, fleksible priser, Andreas Johansen, Frederik Lauridsen, Vlad Manea, Konstantin Slavin-Borovskij')
	meta(name='robots', content='all, index, follow')
	meta(name='viewport', content='width=device-width')
	
	link(href='css/bootstrap.min.css', rel='stylesheet')
	link(href='css/font-awesome.min.css', rel='stylesheet', type='text/css')
	link(href='css/agency.css', rel='stylesheet')
	link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Kaushan+Script', rel='stylesheet', type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic', rel='stylesheet', type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')
	body#page-top.index
		if errorMessage && errorMessage.length > 0 && errorMessage.length > 0
			.alert.alert-danger.text-center #{errorMessage}
		if successMessage && successMessage.length > 0
			.alert.alert-success.text-center #{successMessage}
		nav.navbar.navbar-default.navbar-fixed-top
			.container
				.navbar-header.page-scroll
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand.page-scroll(href='#page-top', title='INNOSUND') INNOSUND
				#bs-example-navbar-collapse-1.collapse.navbar-collapse
					block nav
		header
			.container
				.intro-text
					.intro-lead-in innovative sundhedsløsninger
					.intro-heading innosund
					a.page-scroll.btn.btn-xl(href='#introduction', title='fortæl mig mere') Fortæl mig mere
						br
						i.fa.fa-arrow-down.fa-stack-2x
		block body
		footer
			.container
				.row
					.col-md-4
						span.copyright
							| Copyright
							| 
							i.fa.fa-copyright
							| 
							| INNOSUND IvS 2014
					.col-md-4
						ul.list-inline.social-buttons
							li
								a.twitter(target='_blank', title='INNOSUND på Twitter', href='http://twitter.com/innosunddk')
									i.fa.fa-twitter
							li
								a.facebook(target='_blank', title='INNOSUND på Facebook', href='https://www.facebook.com/pages/Innosunddk/283208588547358')
									i.fa.fa-facebook
							li
								a.linkedin(target='_blank', title='INNOSUND på Linkedin', href='https://www.linkedin.com/company/innosund')
									i.fa.fa-linkedin
							li
								a.google(target='_blank', title='INNOSUND på Google+', href='http://google.com/+InnosundDkIværksætterselskab', rel='publisher')
									i.fa.fa-google-plus
					.col-md-4
						ul.list-inline.quicklinks
							li
								| København, Danmark
								| 
								a(target='_blank', href='https://www.google.dk/maps/place/København/', title='Vis på kort')
									i.fa.fa-map-marker.fa-2x
									| vis på kort
		block modals
		script(src='javascripts/lib/jquery-1.11.1.min.js')
		script(src='javascripts/lib/bootstrap.min.js')
		script(src='javascripts/lib/jquery.easing.min.js')
		script(src='javascripts/components/classie.js')
		script(src='javascripts/components/cbp.animated.header.js')
		script(src='javascripts/components/jquery.bootstrap.validation.js')
		script(src='javascripts/layout/layout.js')
