header {
	text-align: center;
	color: #fff;
	background-attachment: scroll;
	background-image: url(../../images/index/header.jpg);
	background-position: center center;
	background-repeat: none;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-color: #110;
}

header .intro-text {
	padding-top: 50px;
	padding-bottom: 50px;
}

header .intro-text .fa {
	color: #fed136;
}

header .intro-text .intro-lead-in {
	margin-bottom: 50px;
	font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 22px;
	line-height: 22px;
}

header .intro-text .intro-heading {
	margin-bottom: 10px;
	text-transform: uppercase;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 50px;
	font-weight: 700;
	line-height: 50px;
}

@media(min-width:768px) {
	header .intro-text {
		padding-top: 300px;
		padding-bottom: 0px;
	}

	header .intro-text .intro-lead-in {
		margin-bottom: 50px;
		font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 40px;
		line-height: 40px;
	}

	header .intro-text .intro-heading {
		margin-bottom: 10px;
		text-transform: uppercase;
		font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 75px;
		font-weight: 700;
		line-height: 75px;
	}
}
