#dashboard .fa.fa-plus {
	color: #fff;
}

#dashboard .fa.fa-facebook {
	color: #3b5998;
}

#dashboard .fa.fa-google-plus {
	color: #d34836;
}

#dashboard .fa.fa-linkedin {
	color: #007bb6;
}

#dashboard .fa.fa-twitter {
	color: #00aced;
}

#dashboard .btn .fa {
	color: #fff;
}

#dashboard table a {
	color: #428bca;
}

#dashboard .fa.fa-check-circle {
	color: #9c0;
}

#dashboard .fa.fa-chevron-circle-right {
	color: #fc0;
}

#dashboard .fa.fa-question-circle {
	color: #ddd;
}

#dashboard .fa.fa-exclamation-circle {
	color: #f90;
}

#dashboard .fa.fa-times-circle {
	color: #f60;
}

#dashboard .fa.fa-tags {
	color: #ddd;
}

#dashboard .fa.fa-tag {
	color: #bbb;
}

#dashboard .fa.fa-square {
	color: #ddd;
}

#dashboard .fa.fa-briefcase {
	color: #999;
}

#dashboard .fa.fa-graduation-cap {
	color: #999;
}

#dashboard .fa.fa-leaf {
	color: #999;
}

#dashboard .fa.fa-cubes {
	color: #999;
}

#dashboard .fa.fa-tree {
	color: #999;
}

#dashboard .fa.fa-file-text {
	color: #999;
}

#dashboard .fa.fa-trash-o {
	color: #999;
}

#dashboard .fa.fa-eye {
	color: #999;
}

#dashboard .fa.fa-eye.fa-lg {
	color: #ddd;
}

#dashboard .fa.fa-eye-slash {
	color: #999;
}

#dashboard .fa.fa-trash.fa-lg {
	color: #ddd;
}

#dashboard .fa.fa-globe.fa-lg {
	color: #ddd;
}

#dashboard .fa.fa-dot-circle-o.fa-lg {
	color: #ddd;
}