header {
	min-height: 100px;
}

#edit .lead {
	margin-top:25px;
}

#edit .leading {
	font-weight: 400;
}

#edit {
	color: #333;
	min-height: inherit;
}

#edit .form-group {
	margin-bottom: 25px;
}

#edit .text-muted {
	color: #999;
}

#edit .form-group input,
#edit .form-group textarea {
	padding: 20px;
}

#edit .form-group input.form-control {
	height: auto;
}

#edit .form-group textarea.form-control {
	height: 149px;
}

#edit .form-control:focus {
	border-color: #fed136;
	box-shadow: none;
}

#edit::-webkit-input-placeholder {
	text-transform: uppercase;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
	color: #bbb;
}

#edit:-moz-placeholder {
	text-transform: uppercase;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
	color: #bbb;
}

#edit::-moz-placeholder {
	text-transform: uppercase;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
	color: #bbb;
}

#edit:-ms-input-placeholder {
	text-transform: uppercase;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
	color: #bbb;
}

#edit .text-danger {
	color: #e74c3c;
}

#social {
	padding: 50px 0;
}

.navbar-default .navbar-brand .title {
	display: inline-block;
}

footer {
	display:none;
}

.navbar-default .navbar-brand .title {
	display: inline-block;
	color: #333;
}

.navbar-default .nav li a {
	color: #333;
}

.navbar-default.navbar-shrink .nav li a {
	color: #fff;
}
